<div class="main-page">
    <h1>Welcome to myFlix!</h1>
  
      <!-- Signup Button -->
    <button
      mat-raised-button
      (click)="openUserRegistrationDialog()"
      style="margin-right: 10px;"
      color="primary"
      [disabled]="loading"
    >
      {{ loading ? 'Loading...' : 'Sign Up' }}
    </button>
  
    <!-- Login Button -->
    <button
      mat-raised-button
      (click)="openUserLoginDialog()"
      style="margin-right: 10px;"
      color="primary"
      [disabled]="loading"
    >
      {{ loading ? 'Loading...' : 'Login' }}
    </button>

    <!-- Show loading spinner when loading is true -->
     <div *ngIf="loading" class="loading-overlay">
      <mat-spinner></mat-spinner>
    </div>  
  </div>