<div class="profile-page">

  <!-- Back to Movies Button -->
  <button mat-raised-button="primary" (click)="goToMoviesPage()">Back to Movies</button>

  <!-- Welcome Header -->
  <h1>Welcome, {{ userData?.Username || 'Loading...' }}</h1>

  <!-- Button to open the Edit Profile Dialog -->
  <button mat-raised-button color="gray" (click)="openEditProfileDialog()">Edit Profile</button>

  <!-- Favorite Movies List -->
  <div *ngIf="userData && userData.FavMovies" class="fav-movies">
    <h2>Your Favorite Movies</h2>
    <div class="movie-grid">
      <ul>
        <li *ngFor="let movie of FavMovies" class="movie-card">
          <div class="movie-info">
            <img [src]="movie.ImagePath" alt="{{ movie.title }}" class="movie-image" />
            <div class="movie-details">
              <h3>{{ movie.title }}</h3>
              <p>{{ movie.releaseYear }}</p>
            </div>
          </div>
          <button (click)="removeFromFav(movie)">Remove</button>
        </li>
      </ul>
    </div>
  </div>

  <!-- All Movies List -->
  <div class="all-movies">
    <h2>All Movies</h2>
    <div class="movie-grid">
      <div *ngFor="let movie of allMovies" class="movie-card">
        <div class="movie-info">
          <img [src]="movie.ImagePath" alt="{{ movie.title }}" class="movie-image" />
  
          <div class="movie-details">
            <h3>{{ movie.title }}</h3>
            <p>{{ movie.releaseYear }}</p>
          </div>
        </div>
  
        <!-- Heart Icon indicating if movie is in favorites -->
        <mat-icon 
          [color]="isFav(movie) ? 'accent' : 'primary'"
          (click)="isFav(movie) ? removeFromFav(movie) : addToFav(movie)">
          {{ isFav(movie) ? 'fav' : 'fav_border' }}
        </mat-icon>
      </div>
    </div>
  </div>
    
  <!-- Logout Button -->
  <div>
    <button (click)="logout()">Logout</button>
  </div>
</div>
