<div class="profile-page">
  <button (click)="goToMoviesPage()">Back to Movies</button>
  <h1>Welcome, {{ userData.Username }}</h1>

  <!-- Profile Update Form -->
  <form (ngSubmit)="updateUserData()">
    <label for="username">Username:</label>
    <input id="username" [(ngModel)]="userData.username" name="username" required />

    <label for="email">Email:</label>
    <input id="email" [(ngModel)]="userData.email" name="email" type="email" required />

    <button type="submit">Update Profile</button>
  </form>

  <!-- Favorite Movies List -->
  <div class="fav-movies">
    <h2>Your Favorite Movies</h2>
    <div class="movie-grid">
      <ul>
        <li *ngFor="let movie of FavMovies" class="movie-card">
          <div class="movie-info">
            <img [src]="movie.ImagePath" alt="{{ movie.title }}" class="movie-image" />
            <div class="movie-details">
              <h3>{{ movie.title }}</h3>
              <p>{{ movie.releaseYear }}</p>
            </div>
          </div>
          <button (click)="removeFromFav(movie)">Remove</button>
        </li>
      </ul>

    </div>
    
  </div>

  <!-- Add New Movies to Favorites -->
   <div class="all-movies">
    <h2>All Movies</h2>
    <div class="movie-grid">
      <div *ngFor="let movie of allMovies" class="movie-card">
        <div class="movie-info">
          <img [src]="movie.ImagePath" alt="{{ movie.title }}" class="movie-image" />
  
          <div class="movie-details">
            <h3>{{ movie.title }}</h3>
            <p>{{ movie.releaseYear }}</p>
          </div>
        </div>
  
        <!-- Heart Icon indicating if movie is in favorites -->
        <mat-icon 
          [color]="isFav(movie) ? 'accent' : 'primary'"
          (click)="isFav(movie) ? removeFromFav(movie) : addToFav(movie)">
          {{ isFav(movie) ? 'fav' : 'fav_border' }}
        </mat-icon>
      </div>
     </div>
    </div>
    

  <!-- Logout Button -->
   <button (click)="logout()">Logout</button>
</div>
