<div class="profile-page">
  <h1>Welcome, {{ userData.username }}</h1>

  <!-- Profile Update Form -->
  <form (ngSubmit)="updateUserData()">
    <label for="username">Username:</label>
    <input id="username" [(ngModel)]="userData.username" name="username" required />

    <label for="email">Email:</label>
    <input id="email" [(ngModel)]="userData.email" name="email" type="email" required />

    <button type="submit">Update Profile</button>
  </form>

  <!-- Favorite Movies List -->
  <div class="favorite-movies">
    <h2>Your Favorite Movies</h2>
    <ul>
      <li *ngFor="let movie of favoriteMovies">
        {{ movie.title }} ({{ movie.releaseYear }})
        <button (click)="removeFromFavorite(movie)">Remove</button>
      </li>
    </ul>
  </div>

  <!-- Add New Movies to Favorites -->
   <div class="all-movies">
    <h2>All Movies</h2>
    <div *ngFor="let movie of allMovies">
      <div>
        {{ movie.title }} {{ movie.releaseYear }}
        <mat-icon 
          [color]="isFavorite(movie) ? 'accent' : 'primary'"
          (click)="isFavorite(movie) ? removeFromFavorite(movie) : addToFavorite(movie)">
          {{ isFavorite(movie) ? 'favorite' : 'favorite_border' }}
        </mat-icon>
      </div>
    </div>
   </div>

  <!-- Logout Button -->
   <button (click)="logout()">Logout</button>
</div>
